<!DOCTYPE html>
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<meta name=viewport content="width=device-width,initial-scale=1">
		<title>登录页面</title>
		<link rel="stylesheet" href="css/bootstrap.min.css" />
		<link rel="stylesheet" href="css/style.css" />
		<script src="js/jquery.min.js"></script>
		<script src="js/bootstrap.min.js"></script>
		<script src="js/style.js"></script>
	</head>

	<body>
		<div class="container">

			<div class="row header">
				<div class="col-lg-1 col-md-1 col-sm-1 col-xs-1">
					<div class="logos"><img src="imgs/book.png" /></div>
				</div>
				<div class="col-lg-2 col-md-3 col-sm-4 col-xs-10">
					<h3>教务管理系统</h3>
				</div>
			</div>
			<div class="row">
				<div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 box_left">
					<h1>教育成就未来！</h1>
				</div>
				<form action="user.php?a=check" method="post">
					<div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 login_box">
						<div class="text-center login_text">
							<h4>欢迎登录</h4>
						</div>
						<div class="form-group">

							<label for="exampleInputEmail1">请输入:学号 \ 教师编号 \ 管理员账号</label>
							<input type="text" class="form-control" name="username" placeholder="请输入用户名">

						</div>
						<div class="form-group has-feedback ">

							<label for="Password">用户密码:</label>
							<input type="password" class="form-control pwds" name="password" placeholder="请输入密码">

							<span class="glyphicon glyphicon-eye-close form-control-feedback" id="pwd"></span>
						</div>
						<!-- open -->
						<!-- <div class="input-group">
							<input type="text" class="form-control" placeholder="验证码" aria-describedby="basic-addon2">
							<span class="input-group-addon">放验证码</span>
						</div> -->
						<!-- <div class="rpwd"><a href="#">找回密码</a></div> -->
						<div class="box_radio">
							<b>用户类型:</b>
							<label class="radio-inline">
								<input type="radio" name="options" id="inlineRadio1" value="students"> 学生
							</label>
							<label class="radio-inline">
								<input type="radio" name="options" id="inlineRadio2" value="teacher"> 教师
							</label>
							<label class="radio-inline">
								<input type="radio" name="options" id="inlineRadio3" value="admin"> 管理员
							</label>
						</div>


						<button type="submit" class="btn btn-default btn-lg btn-block">登录</button>
						<br />
						<div class="panel panel-default">
							<div class="panel-heading">登录测试账号</div>
							<div class="panel-body">
								<div>身份: 学生</div>
								<div>账号:201907060105</div>
								<div>密码:123456</div>
								</br>
								<div>身份: 教职工</div>
								<div>账号:20190706001</div>
								<div>密码:123456</div>
								</br>
								  <div>身份: 管理员</div>
								  <div>账号:201907060001</div>
								  <div>密码:558845</div> 
							</div>
								 
						
						</div>
					</div>
				</form>
			</div>
		</div>
	</body>
</html>
