<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>学生页面</title>

	</head>
	<body>
		<link rel="stylesheet" href="../css/bootstrap.min.css" />
		<link rel="stylesheet" href="../css/students.css" />
		<script src="../js/jquery.min.js"></script>
		<script src="../js/bootstrap.min.js"></script>
		<div class="container stu_box">

			<!-- Nav tabs -->
			<ul class="nav nav-tabs" role="tablist">
				<li role="presentation" class="active text-center"><a href="#home" aria-controls="home" role="tab" data-toggle="tab">学生表</a></li>
				<li role="presentation" class="text-center"><a href="#profile" aria-controls="profile" role="tab" data-toggle="tab">课程表</a></li>
				<li role="presentation" class="text-center"><a href="#messages" aria-controls="messages" role="tab" data-toggle="tab">任课教师表</a></li>
			</ul>

			<!-- Tab panes -->
			<div class="tab-content">
				<div role="tabpanel" class="tab-pane active" id="home">
					<table class="table table-bordered text-center">
						<thead>
							<h4 class="text-center">（X）级（X）班</h4>
						</thead>
						<tr class="tab_th">
							<th>序号</th>
							<th>姓名</th>
							<th>性别</th>
							<th>科目一成绩</th>
							<th>科目二成绩</th>
							<th>科目三成绩</th>
							<th>平均分</th>
							<th>总分</th>
							<th>名次</th>
						</tr>
						<tr>
							<td>1</td>
							<td>小红</td>
							<td>女</td>
							<td>100</td>
							<td>89</td>
							<td>75</td>
							<td>88</td>
							<td>264</td>
							<td>1</td>
						</tr>
						<tr>
							<td>2</td>
							<td>小红</td>
							<td>女</td>
							<td>100</td>
							<td>89</td>
							<td>75</td>
							<td>88</td>
							<td>264</td>
							<td>1</td>
						</tr>
						<tr>
							<td>3</td>
							<td>小红</td>
							<td>女</td>
							<td>100</td>
							<td>89</td>
							<td>75</td>
							<td>88</td>
							<td>264</td>
							<td>1</td>
						</tr>
						<tr>
							<td>4</td>
							<td>小红</td>
							<td>女</td>
							<td>100</td>
							<td>89</td>
							<td>75</td>
							<td>88</td>
							<td>264</td>
							<td>1</td>
						</tr>
						<tr>
							<td>5</td>
							<td>小红</td>
							<td>女</td>
							<td>100</td>
							<td>89</td>
							<td>75</td>
							<td>88</td>
							<td>264</td>
							<td>1</td>
						</tr>
						<tr>
							<td>6</td>
							<td>小红</td>
							<td>女</td>
							<td>100</td>
							<td>89</td>
							<td>75</td>
							<td>88</td>
							<td>264</td>
							<td>1</td>
						</tr>
						<tr>
							<td>7</td>
							<td>小红</td>
							<td>女</td>
							<td>100</td>
							<td>89</td>
							<td>75</td>
							<td>88</td>
							<td>264</td>
							<td>1</td>
						</tr>
						<tr>
							<td>8</td>
							<td>小红</td>
							<td>女</td>
							<td>100</td>
							<td>89</td>
							<td>75</td>
							<td>88</td>
							<td>264</td>
							<td>1</td>
						</tr>
						<tr>
							<td>9</td>
							<td>小红</td>
							<td>女</td>
							<td>100</td>
							<td>89</td>
							<td>75</td>
							<td>88</td>
							<td>264</td>
							<td>1</td>
						</tr>
						<tr>
							<td>10</td>
							<td>小红</td>
							<td>女</td>
							<td>100</td>
							<td>89</td>
							<td>75</td>
							<td>88</td>
							<td>264</td>
							<td>1</td>
						</tr>
						<tr>
							<td>11</td>
							<td>小红</td>
							<td>女</td>
							<td>100</td>
							<td>89</td>
							<td>75</td>
							<td>88</td>
							<td>264</td>
							<td>1</td>
						</tr>
						<tr>
							<td>12</td>
							<td>小红</td>
							<td>女</td>
							<td>100</td>
							<td>89</td>
							<td>75</td>
							<td>88</td>
							<td>264</td>
							<td>1</td>
						</tr>
						<tr>
							<td>13</td>
							<td>小红</td>
							<td>女</td>
							<td>100</td>
							<td>89</td>
							<td>75</td>
							<td>88</td>
							<td>264</td>
							<td>1</td>
						</tr>
						<tr>
							<td>14</td>
							<td>小红</td>
							<td>女</td>
							<td>100</td>
							<td>89</td>
							<td>75</td>
							<td>88</td>
							<td>264</td>
							<td>1</td>
						</tr>
						<tr>
							<td>15</td>
							<td>小红</td>
							<td>女</td>
							<td>100</td>
							<td>89</td>
							<td>75</td>
							<td>88</td>
							<td>264</td>
							<td>1</td>
						</tr>

					</table>
					<div class="pag_main">
						<div class="btn-group" role="group" aria-label="...">
							<button type="button" class="btn btn-default">首页</button>
							<button type="button" class="btn btn-default">上一页</button>
							<div class="btn-group dropup" role="group">
								<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true"
								 aria-expanded="false">
									1
									<span class="caret"></span>
								</button>
								<ul class="dropdown-menu">
									<li><a href="#">1</a></li>
									<li><a href="#">2</a></li>
								</ul>
							</div>
							<button type="button" class="btn btn-default">下一页</button>
							<button type="button" class="btn btn-default">末页</button>
						</div>
					</div>
				</div>
				<div role="tabpanel" class="tab-pane" id="profile">
					<table class="table table-bordered text-center class_tab">
						<thead>
							<h4 class="text-center">（X）级（X）班</h4>
						</thead>
						<tr class="tab_th">
							<th></th>
							<th>周一</th>
							<th>周二</th>
							<th>周三</th>
							<th>周四</th>
							<th>周五</th>
							<th>周六</th>
							<th>周日</th>

						</tr>
						<tr>
							<td>时间一</td>
							<td>科目一</td>
							<td>科目一</td>
							<td>科目一</td>
							<td>科目一</td>
							<td>科目五</td>
							<td>科目三</td>
							<td>科目二</td>
						</tr>
						<tr>
							<td>时间二</td>
							<td>科目一</td>
							<td>科目三</td>
							<td>科目一</td>
							<td>科目二</td>
							<td>科目五</td>
							<td>科目三</td>
							<td>科目二</td>
						</tr>
						<tr>
							<td>时间三</td>
							<td>科目二</td>
							<td>科目一</td>
							<td>科目二</td>
							<td>科目一</td>
							<td>科目五</td>
							<td>科目三</td>
							<td>科目二</td>
						</tr>
						<tr>
							<td>时间四</td>
							<td>科目一</td>
							<td>科目二</td>
							<td>科目一</td>
							<td>科目一</td>
							<td>科目五</td>
							<td>科目三</td>
							<td>科目二</td>
						</tr>
						<tr>
							<td>时间五</td>
							<td>科目一</td>
							<td>科目三</td>
							<td>科目四</td>
							<td>科目一</td>
							<td>科目五</td>
							<td>科目三</td>
							<td>科目二</td>
						</tr>
						<tr>
							<td>时间六</td>
							<td>科目一</td>
							<td>科目三</td>
							<td>科目五</td>
							<td>科目一</td>
							<td>科目五</td>
							<td>科目三</td>
							<td>科目二</td>
						</tr>
					</table>

				</div>
				<div role="tabpanel" class="tab-pane" id="messages">
					<table class="table table-striped text-center" style="width: 50%; margin-left: 25%;">
						<thead>
							<h4 class="text-center">（X）级（X）班</h4>
						</thead>
						<tr class="tab_th">
							<th>科目</th>
							<th>任教老师</th>
						</tr>
						<tr>
							<td>科目1</td>
							<td>某某老师</td>
						</tr>
						<tr>
							<td>科目2</td>
							<td>某某老师</td>
						</tr>
						<tr>
							<td>科目3</td>
							<td>某某老师</td>
						</tr>
						<tr>
							<td>科目4</td>
							<td>某某老师</td>
						</tr>
						<tr>
							<td>科目5</td>
							<td>某某老师</td>
						</tr>
				</table>
				</div>
			</div>

		</div>
	</body>
</html>
